/* Removes the scroll bar */
::-webkit-scrollbar {
    display: none;
}

html, body {
    text-align: center;
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
     height: 100%;
    width: 100%;
}

body {
    font-family: 'Lobster', sans-serif;
    overflow-y: scroll;
    background-color: #6acae2;
}

header {
    background-color: #303030;
    padding: 40px 0 70px;
    margin-bottom: 20px;
    height: 70%;
}

#stuff {
    color: white;
}

header h1 {
    font-size: 100px;
    color: white;
    font-family: 'Lobster';
}

p {
    color: white;
}

input
{
    text-align: center;
    left: 100px;
}

h1 {
    font-size: 100px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    box-sizing: border-box;
}

button {
    position: relative;
    height: 4em;
    width: 10em;
    margin: .62em .4em;
    padding: .31em .3em;
    font-weight: 700;
    font-size: .9em;
    letter-spacing: .125em;
    color: #383736;
    border: .125em #383736 solid;
    border-radius: .25em;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    box-sizing: border-box;
}

.fill:hover {
    color: white;
    box-sizing: border-box;
}

.fill:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
    box-sizing: border-box;
}

.fill:hover:before {
    top: 0;
    box-sizing: border-box;
}

h1 {
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    box-sizing: border-box;
    text-align: center;
    font-size: 2.2em;
    font-weight: 300;
}

h3 {
    box-sizing: border-box;
    font-size: 1.7em;
    font-weight: 400;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: .3em;
}

#item {
    background-color: #9cc9c9;
    overflow-x: hidden;
    height: 100%;
}

.week {
    padding-top: 200px;
    font-size: 60px;
    font-weight: 600;
}

.project-icon {
    height: 19em;
    border-radius: 1.7em;
    margin: 1.5em;
    background-color: gray;
    box-sizing: border-box;
}

.row {
    box-sizing: border-box;
    width: 100%;
}

#schedule {
    padding-top: 50px;
    font-size: 50px;
}


















