body {
    overflow-y: scroll;
    background-color: #6acae2;
    font-family: 'Lobster';
}

header {
    background-color: #303030;
    padding: 40px 0 70px;
    margin-bottom: 20px;
    height: 70%;
}

header h1 {
    font-size: 100px;
    color: white;
    font-family: 'Lobster';
}

p {
    color: white;
}

input
{
    text-align: center;
    left: 100px;
}

header h1 small {
    font-size: 100px;
}

h1 {
    font-size: 100px;
}

header h1, header form, header .alert, footer {
    text-align: center;
}

#buttons {
    margin: 0 auto 30px;
    text-align: center;

}

#buttons .btn {
    font-size: 20px;
}

html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

/* Removes the scroll bar */
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    box-sizing: border-box;
}

/* BUTTONS ---  http://codepen.io/davekilljoy/*/
button {
    position: relative;
    height: 4em;
    width: 10em;
    margin: .62em .4em;
    padding: .31em .3em;
    font-weight: 700;
    font-size: .9em;
    letter-spacing: .125em;
    color: #383736;
    border: .125em #383736 solid;
    border-radius: .25em;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    box-sizing: border-box;
}

h1 {
    font-size: 4vw;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    vertical-align:
    left: 1em;
}

.container {
    text-align: center;
}

.test {
        /*font-size: 4em;*/
    font-size: 4vw;
    text-align: center;
    color: black;
    /*margin-top: 37%;*/
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.2em;
    box-sizing: border-box;
}

h3 {
    font-size: 1.7em;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: .3em;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

#item{
    background-color: #add2d2;
    overflow-x: hidden;
    height: 100%;
}

.week
{
    padding-top: 200px;
    font-size: 60px;
    font-weight: 600;
}

.project-icon {
    height: 19em;
    border-radius: 1.7em;
    margin: 1.5em;
    background-color: gray;
    box-sizing: border-box;
}

.row {
    width: 100%;
    box-sizing: border-box;
}


















